@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #FFF;
    font-family: 'Cormorant Unicase', 'Courier New', Courier, monospace;
    text-transform: uppercase;
}